<script src="/js/d3.v3.js"></script>
<link rel="stylesheet" href="/css/table.css" />

<script>
$(document).ready(function(){
$('.layerspecifysupplier').hide();
$('.layergruppe1').hide();
$('.layergruppe2').hide();
    $('input[type=radio]').change(function(e) 
        {
        if (this.id == 'gruppe1') {
            $('.layergruppe1').show();
            $('.layergruppe2').hide();
        } else if (this.id == 'gruppe2') {
            $('.layergruppe1').hide();
            $('.layergruppe2').show();
        }  
      });
    $('input[type=radio]').change(function(e) 
        {
        if (this.id == 'specify1') {
            $('.layerspecifysupplier').show();
        } else if (this.id == 'specify2') {
            $('.layerspecifysupplier').hide();
        }  
      });
});
</script>

<section id="left">
<h1>Initiate A New Trade</h1><br>

<form method="post" action="/trades">

    <p>My Company wants to get &nbsp;
    
    <select id="trade_in" name="trade[in]">
        <% @theirskus.each do |sku| %>
            <option value="<%= sku.name %>"><%= sku.name %></option>
        <% end %> 
    </select>
        
        at an amount of: &nbsp; <input id="trade_amountin" class="form-control" name="trade[amountin]" type="number" size='5' value="<%= @trade.amountin %>" style="width=90%">&nbsp; units
        </p>

        <input type="radio" name="#" id="specify1"> Let me choose the Supplier
        <input type="radio" name="#" id="specify2"> Let NARA choose the Supplier

<div class="layerspecifysupplier">
    <p> &nbsp; from &nbsp;
    <select id="recipient" name="trade[recipient]">
        <option value=""></option>
        <% @suppliers.each do |user| %>
        <option value="<%= user.name %>"><%= user.name %></option>
        <% end %> 
    </select>
    </p>
</div>

<br>

    <p>We will exchange
            <input type="radio" name="trade[trademethod]" value="cash" id="gruppe1">Cash 
            <input type="radio" name="trade[trademethod]" value="barter" id="gruppe2">Our own SKUs
    </p>
    
<div class="layergruppe1">
    <p>
    <input id="trade_amountout" class="form-control" name="trade[amountout]" type="number" value="<%= @trade.amountout %>" style="width=90%">&nbsp; (in local currency)
    </p>
    and pay a barter tax of <span id="tax"></span>
</div>

<div class="layergruppe2">
    <p>
    <select id="trade_out" name="trade[out]">
        <% @ourskus.each do |sku| %>
        <option value="<%= sku.name %>"><%= sku.name %></option>
        <% end %>
    </select>
    &nbsp; at an amount of:
    <input id="trade_amountout" class="form-control" name="trade[amountout]" type="number" value="<%= @trade.amountout %>" style="width=90%">units
    </p>
    and pay a barter tax of <p id="tax">
</div>
<br>

    <p>
        <input id="status" class="form-control" name="trade[tradestatus]" value="new" type="hidden">
        <button type="submit" class="btn btn-success">Create Trade Request!</button>
    </p>
</form>
</section>

<%= display_error %>

<aside>
    <p>Enter the details of the trade you want to make with the other company you wish to buy from.</p> 
    
</aside>

<script>
function multiply() {

    var x = document.getElementById("outamount").value;
    var y = x * 0.05;
    var result =  +y + +x;

    taxproceedamount.innerHTML = y;  //changes the product into the result
    tax.innerHTML = result;  //changes the product into the result
}
</script>