<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	My Trade List
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="#">+ New Trade</a> &nbsp &nbsp
        <a href="trades/sug">Trade Suggestions</a>
    </div>
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
  <table >
        <thead>
            <td>Trade<br> Number</td>
            <td>Trade<br> Initiated By</td>
            <td>SKU<br> Offered</td>
            <td>Offer<br> Quantity</td>
            <td>SKU<br> Needed</td>
            <td>Needed<br>Quantity</td>
            <td>Status</td>
            <td>Created on</td>
        </thead>

<% @trades.each do |trade| %>
        <tr>
            <td><a href="/trades/<%= trade.id %>"><%=h trade.id %></a></td>
            <td><a href="/users/<%= trade.user_id %>"><%=h trade.user.name %></a></td>
            <td><%=h trade.skuout1 %></a></td>
            <td><%=h trade.qout1 %></a></td>
            <td><%=h trade.skuin1 %></a></td>
            <td><%=h trade.qin1 %></a></td>
            <td><b><a href="/trades/<%= trade.id %>"><%=h trade.globalstatus %></a></b></td>
            <td><%=h trade.created_at %></a></td>
        </tr>
        <% end %>
    </table>
</div>
</section>

<aside>
  <section id="feed" role="complementary">

    <h1> Newsfeed here</h1>

  </section>
</aside>