<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
Trade # <%=h @trade.id %>
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="#">+ New Trade</a>
    	</div>
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
    <form action="/trades/<%= @trade.id %>" method="post">
    <table>
      <thead>
            <td>Initated By:</td><td><%=h @trade.user.name %></td>
      </thead>

      <tr> <td>Trade Method:</td> <td><%=h @trade.trademethod %></td> </tr>

      <tr> <td>SKU Needed:</td><td><%=h @trade.skuin1 %></td> </tr>

      <tr> <td>Needed Amount:</td> <td><%=h @trade.qin1 %></td> </tr>

      <tr> <td>SKU Offered:</td> <td><%=h @trade.skuout1 %></td> </tr>

      <tr> <td>Offered Amount:</td> <td><%=h @trade.qout1 %></td> </tr>

      <tr> <td>Description:</td> <td><%=h @trade.description %></td> </tr>

      <% if @trade.btax1 != 0 %>
          <tr> <td>Barter Tax:</td> <td><%=h @trade.btax1 %></td> </tr>
      <% else %>
      <% end %>

      <tr> <td>Status:</td> 
            <td>
              <% if @trade.user_id == current_user.id %>
                <%= @trade.status1 %>
                <% else %>
                  <% if @trade.status1 == "new" %>
                    <select id="trade_status1" name="trade[status1]">
                      <option value="new">New</option>
                      <option value="accepted">Accept</option>
                      <option value="rejected">Reject!</option>
                    </td>      
                    <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Update</button></td>
                    </tr>
                  <% else %>
                    <%= @trade.status1 %>
                    </td>
                  <% end %>
              <% end %>      
    </table>

<!-- ######################## -->
<% if @trade.recipient3 != nil %>
<br>
    <table>
      <thead>
            <td>Trade Party 1:</td>
            <td><%=h @trade.user.name %></td>
      </thead>

      <tr> <td>SKU Needed:</td> <td><%=h @trade.skuin1 %></td> </tr>

      <tr> <td>Needed Amount:</td> <td><%=h @trade.qin1 %></td> </tr>

      <tr> <td>SKU Offered:</td> <td><%=h @trade.skuout1 %></td> </tr>

      <tr> <td>Offered Amount:</td> <td><%=h @trade.qout1 %></td> </tr>

      <tr> <td>Description:</td> <td><%=h @trade.description %></td> </tr>

      <tr> 
            <td>Status:</td>
            <td>
              <% if @trade.user_id == current_user.id %>
                <%= @trade.status2 %>
                <% else %>
                  <% if @trade.status2 == "new" %>
                    <select id="trade_status2" name="trade[tradestatus2]">
                      <option value="new">New</option>
                      <option value="accepted">Accept</option>
                      <option value="rejected">Reject!</option>
                    </td>      
                    <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Update</button></td>
                    </tr>
                  <% else %>
                    <%= @trade.status2 %>
                    </td>
                  <% end %>
              <% end %>      
    </table>
<% else %>
<% end %>
</form>
</div>
</section>

<aside>
  <section id="feed" role="complementary">
<h1>Trade Instructions here</h1>
  
  </section>
</aside>