<link rel="stylesheet" href="/css/table.css" />
<script>
$(document).ready(function(){
$('.layerspecifysupplier').hide();
$('.layergruppe1').hide();
$('.layergruppe2').hide();
    $('input[type=radio]').change(function(e) 
        {
        if (this.id == 'gruppe1') {
            $('.layergruppe1').show();
            $('.layergruppe2').hide();
        } else if (this.id == 'gruppe2') {
            $('.layergruppe1').hide();
            $('.layergruppe2').show();
        }  
      });
    $('input[type=radio]').change(function(e) 
        {
        if (this.id == 'specify1') {
            $('.layerspecifysupplier').show();
        } else if (this.id == 'specify2') {
            $('.layerspecifysupplier').hide();
        }  
      });
});
</script>

<section id="left">
<h1>Initiate A New donation</h1><br>

<form method="post" action="/donations">

    <p>My Company wants to donate&nbsp;
    
    <select id="donation_skuout1" name="donation[skuout1]">
        <% @skus.each do |sku| %>
            <option value="<%= sku.name %>"><%= sku.name %></option>
        <% end %> 
    </select>
        
        at an amount of: &nbsp; <input id="donation_qout1" class="form-control" name="donation[qout1]" type="number" size='5'>&nbsp; units to 

    <select id="donation_beneficiary" name="">
        <option value="">possible beneficiaries</option>
    </select>
    </p>

    <p>
        <input type="radio" name="#" id="specify0"> Our company will choose our own logistics providers<br>
        <input type="radio" name="#" id="specify1"> I will choose the logistics providers in NARA<br>
        <input type="radio" name="#" id="specify2"> Let NARA choose the logistics provider(s)
    </p>

<div class="layerspecifysupplier">
    <p> &nbsp; Choose Logistics Provider &nbsp;
    <select id="deliverer2" name="donation[deliverer2]">
        <option value=""></option>
            <% @providers.each do |user| %>
                <option value="<%= user.name %>"><%= user.name %></option>
            <% end %>
    </select>
    </p>
</div><br>

    <p>
        <input id="donation_status1" class="form-control" name="donation[status1]" value="new" type="hidden">
        <input id="donation_globalstatus" class="form-control" name="donation[globalstatus]" value="new" type="hidden">
        <button type="submit" class="btn btn-success">Start Donation Process!</button>
    </p>
</form>
</section>

<%= display_error %>

<aside>
    <p>Donations are trades that do not bring revenue and are not taxed.</p> 
    <p>The system for listing beneficiaries is not available at the moment.</p>
    <p>You can choose to deliver your donations through your own company or logistics providers.</p>
    <p>Alternatively, you can choose NARA-registered logistics providers or let NARA choose them for you.</p>
    <p>If you let NARA choose the providers, it will send your donation information to the providers it chooses. You can choose to accept or reject the providers chosen by NARA.</p>
    <p>Each donation can up to 5 logistics providers, as some areas may be hard to access.</p>
</aside>
        
<script>
$('#barter').bind('input', function() {
    var barter = document.getElementById("barter").value;
    var b = barter * 0.01;
    var bshort = Math.round(b);
    btax1.innerHTML = bshort;
});
</script>