<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	My Donation List (Test Only)
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="donations/create">+ New Donation</a>
    </div>
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
  <table >
        <thead>
            <td>Donation<br> Number</td>
            <td>Donation<br> Initiated By</td>
            <td>SKU<br> Donated</td>
            <td>Offer<br> Quantity</td>
            <td>Status</td>
            <td>Created on</td>
        </thead>

<% @donations.each do |donation| %>
        <tr>
            <td><a href="/donations/<%= donation.id %>"><%=h donation.id %></a></td>
            <td></td>
<!--            <td><a href="/users/<%= donation.user_id %>"><%=h donation.user.name %></a></td> -->
            <td><%=h donation.skuout1 %></a></td>
            <td><%=h donation.qout1 %></a></td>
            <td><b><a href="/donations/<%= donation.id %>"><%=h donation.globalstatus %></a></b></td>
            <td><%=h donation.created_at %></a></td>
        </tr>
        <% end %>
    </table>
</div>
</section>

<aside>
  Sample NewsFeed:<br>
    <div class="blocks">100<br> <div style="font-size: 15px; font-weight:normal"><small>Donation<br>Opportunities</small></div> </div>
    <div class="blocks">5<br> <div style="font-size: 15px; font-weight:normal"><small>Pending<br>Donations</small></div> </div>
    <div class="blocks">3<br> <div style="font-size: 15px; font-weight:normal"><small>In Process</small></div> </div>
    <div style="clear:both"></div>
    <hr>
    <br>
Top global sectors needing donations:
<br><br>


    <div class="avatarheader">
      <div class="avatar"><img src="http://s2.reutersmedia.net/resources/r/?m=02&d=20150126&t=2&i=1019944865&w=644&fh=&fw=&ll=&pl=&r=LYNXMPEB0P0BH" height="50" width="50">
      </div>
        <a href="http://www.reuters.com/article/2015/01/26/us-mideast-crisis-syria-turkey-idUSKBN0KZ0PD20150126" target="_blank"><b>Suruc, Turkey</b></a><br>
        <small>2 hour ago</small><br>
        Needs: <b><a href="#">BottledWater</a>, <a href="#">Medicine</a></b><br>
    </div>
  <br>

    <div class="avatarheader">
      <div class="avatar"><img src="http://www.aljazeera.com/mritems/imagecache/218/330/mritems/Images/2014/5/1/20145193118372734_20.jpg" height="50" width="50">
      </div>
        <a href="http://www.aljazeera.com/indepth/features/2014/05/dadaab-world-biggest-refugee-camp-kenya-somalis-20145164919295645.html" target="_blank"><b>Dabaab, Kenya</b></a><br>
        <small>2 hours ago</small><br>
        Needs: <b><a href="#">BottledWater</a>, <a href="#">Medicine</a></b><br>
    </div>
  <br>
<hr>
Top local sectors needing donations:
<br><br>

    <div class="avatarheader">
      <div class="avatar"><img src="http://www.carriermanagement.com/assets/bigstock-typhoon-satellite-view-Eleme-43062421-64x64.jpg" height="50" width="50">
      </div>
        <a href="http://www.mb.com.ph/mindanao-braces-for-super-typhoon-ruby/" target="_blank"><b>Mindanao, Philippines</b></a><br>
        <small>1 year ago</small><br>
        Needs: <b><a href="#">BottledWater</a>, <a href="#">Medicine</a></b><br>
    </div>
  <br>

</aside>