<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
Trade # => <%=h @trade.id %>
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="/trades/create">+ New Trade</a>
    	</div>
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >
    <form action="/trades/<%= @trade.id %>" method="post">
    <table>
      <thead>
            <td>Initated By:</td><td><%=h @trade.user.name %></td>
      </thead>

      <tr> <td>Trade Method:</td> <td><%=h @trade.trademethod %></td> </tr>

      <tr> <td>SKU Needed:</td><td><%=h @trade.skuin1 %></td> </tr>

      <tr> <td>Needed Amount:</td> <td><%=h @trade.qin1 %></td> </tr>

      <tr> <td>SKU Offered:</td> <td><%=h @trade.skuout1 %></td> </tr>

      <tr> <td>Offered Amount:</td> <td><%=h @trade.qout1 %></td> </tr>

      <tr> <td>Description:</td> <td><%=h @trade.description %></td> </tr>

      <% if @trade.btax1 != 0 %>
          <tr> <td>Barter Tax:</td> <td><%=h @trade.btax1 %></td> </tr>
      <% else %>
      <% end %>

      <tr> <td>Status:</td> 
            <td>
              <% if @trade.user_id == current_user.id %>
                <%= @trade.status1 %>
                <% else %>
                  <% if @trade.status1 == "new" %>
                    <select id="trade_status1" name="trade[status1]">
                      <option value="new">New</option>
                      <option value="accepted">Accept</option>
                      <option value="rejected">Reject!</option>
                    </td>      
                    <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Update</button></td>
                    </tr>
                  <% else %>
                    <%= @trade.status1 %>
                    </td>
                  <% end %>
              <% end %>      
    </table>

<!-- ######################## -->
<% if @trade.recipient3 != nil %>
<br>
    <table>
      <thead>
            <td>Trade Party 1:</td>
            <td><%=h @trade.user.name %></td>
      </thead>

      <tr> <td>SKU Needed:</td> <td><%=h @trade.skuin1 %></td> </tr>

      <tr> <td>Needed Amount:</td> <td><%=h @trade.qin1 %></td> </tr>

      <tr> <td>SKU Offered:</td> <td><%=h @trade.skuout1 %></td> </tr>

      <tr> <td>Offered Amount:</td> <td><%=h @trade.qout1 %></td> </tr>

      <tr> <td>Description:</td> <td><%=h @trade.description %></td> </tr>

      <tr> 
            <td>Status:</td>
            <td>
              <% if @trade.user_id == current_user.id %>
                <%= @trade.status2 %>
                <% else %>
                  <% if @trade.status2 == "new" %>
                    <select id="trade_status2" name="trade[tradestatus2]">
                      <option value="new">New</option>
                      <option value="accepted">Accept</option>
                      <option value="rejected">Reject!</option>
                    </td>      
                    <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Update</button></td>
                    </tr>
                  <% else %>
                    <%= @trade.status2 %>
                    </td>
                  <% end %>
              <% end %>      
    </table>
<% else %>
<% end %>
</form>
</div>
</section>

<aside>
  <section id="feed" role="complementary">
  <p>This page shows the details of the trades as a <i>trade contract which is the main tool for facilitating trade.</i></p>

  <p>The trade is accepted by changing the status to 'Accepted'. Once accepted, this contract will be binding within the NARA system and the other company will be notified to start the delivery or payment process.</p> 
  <p><b>Meaning of Trade Methods:</b>
  <ul><li><b>Barter</b> - All SKUs are paid for with SKUs. No cash is involved</li>
    <li><b>Cash</b> - All SKUs are bought with cash. The buyer provides the cash</li>
    <li><b>Semi-barter</b>  - All SKUs are paid partly with SKUs, partly with cash</li>
  </ul>
  <p><b>Meaning of Trade Statuses:</b>
  <ul><li><b>New</b> - The trade request has just been created and no action has been taken by the recipient company</li>
    <li><b>Accepted</b> - The recipient company has accepted the terms of the trade contract</li>
    <li><b>Rejected</b>  - The recipient company has rejected the terms of the trade contract</li>
    <li><b>Fulfilled</b> - The trade has been fulfilled</li></ul></p>
  
  </section>
</aside>