<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Search Results: 
	</div>
<div style="clear: both"></div> <br>

<div class="CSSTableGenerator" >

<% if @skus.present? %>
<table>
            <thead>
            <td>SKU<br> Name</td>
            <td>Company<br></td>
            <td>Needer or<br>Supplier</td>
            <td>Amount Needed<br>or Supplied</td>
            
        </thead>
  <% @skus.each do |sku| %>
    <tr>
        <td><a href="/skus/<%= sku.id %>"><%=h sku.name %></a></td>
        <td><%=h sku.user.name %></td>
        <td><%=h sku.need %></td>
        <td><%=h sku.quantity %></td>
  <% end %>
<% else %>
  <p>There are no SKUs containing the term(s) <%= params[:search] %>.</p>
<% end %>
</table>

  <table >


    </table>
</div>
</section>

<aside>
  <section id="feed" role="complementary">
<h1> Other info here</h1>
    <br>

</section>
</aside>