<h1>Create SKU</h1>
<br>

<section class="left" style="margin-left: 10px;">
	<form action="/skus" method="post" role="form">
    <p>
 				<label for="sku_name">SKU Name:</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   			<input id="sku_name" class="form-control" name="sku[name]" type="text" value="<%= @sku.name %>" style="width=90%"/>
    </p>

		<p>
      <label for="sku_quantity">Classification:</label>&nbsp; &nbsp; &nbsp; &nbsp; 
	   <select id="sku_classification" name="sku[classification]">
  		<option value=""></option>
      <option value="arts">Arts, Crafts, Needlework</option>
  		<option value="audio">Audio Visual and Photography </option>
  		<option value="automotive">Automotive</option>
  		<option value="baby">Baby Care</option>
  		<option value="beauty">Beauty, Personal Care, and Hygiene</option>
  		<option value="building">Building Products</option>
  		<option value="camping">Camping</option>
  		<option value="cleaning">Cleaning Products</option>
  		<option value="clothing">Clothing</option>
  		<option value="communications">Communications</option>
  		<option value="computers">Computers</option>
  		<option value="cross">Cross Segment</option>
  		<option value="electrical">Electrical Supplies</option>
  		<option value="food">Food, Beverage. and Tobacco</option>
  		<option value="footwear">Footwear</option>
  		<option value="fuels">Fuels</option>
  		<option value="healthcare">Healthcare</option>
		<option value="appliances">Home Appliances</option>
		<option value="horticulture">Horticulture Plants</option>
  		<option value="furnishings">Household and Office Furnishings</option>
  		<option value="kitchen">Kitchen Merchandise</option>
  		<option value="garden">Lawn and Garden Supplies</option>
  		<option value="animals">Live Animals</option>
		<option value="lubricants">Lubricants</option>
		<option value="personal">Personal Accessories</option>
		<option value="pet">Pet Care</option>
		<option value="plumbing"> Plumbing, Heating, Ventilation, and Air Conditioning</option>
		<option value="print">Printed Materials</option>
		<option value="safety">Safety and Protection</option>
		<option value="security">Security and Surveillance</option>
    <option value="services">Services</option>
		<option value="sports">Sports Equipment</option>
		<option value="stationery">Stationery and Office Supplies and Machinery</option>
		<option value="storage">Storage and Haulage Containers</option>
		<option value="tools_hand">Tools and Equipment (Hand)</option>
		<option value="tools_power">Tools and Equipment (Power)</option>
		<option value="toys">Toys and Games</option>
  	</select>
  </p>
 	  
  <p>
      <label></label>
      <input type="radio" name="sku[need]" value="supplier" id="gruppe1">My company supplies this SKU<br>
      <input type="radio" name="sku[need]" value="needer" id="gruppe2">My company needs this SKU
  </p>

  <p>
 		<label for="sku_description">Description:</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   	<textarea id="sku_description" name="sku[description]" class="form-control" ><%= @sku.description %></textarea>
  </p>
  
<div class="layergruppe1">
  <p>
    <label for="sku_quantity">Quantity in stock:</label> 
      <input id="sku_quantity" class="form-control" name="sku[quantity]" type="number" value="<%= @sku.quantity %>" style="width=90%"/>
  </p>
</div>

<div class="layergruppe2">
  <p>
    <label for="sku_quantity">Quantity needed:</label> &nbsp;
      <input id="sku_quantity" class="form-control" name="sku[quantity]" type="number" value="<%= @sku.quantity %>" style="width=90%"/>
  </p>
</div>

  <p>Unit of Measure: &nbsp; &nbsp;<input id="sku_measure" name="sku[measure]" type="text"></p>
  <!-- hidden field for company name -->
  <p>
    <input id="sku_user" class="form-control" name="sku[user_id]" type="hidden" value="<%=h current_user.id %>"/>
    <button type="submit" class="btn btn-success">Create!</button>
  </p>
	</form>
  <br>   

   <%= display_error %> 

<script>
$(document).ready(function(){
$('.layergruppe1').hide();
$('.layergruppe2').hide();
    $('input[type=radio]').change(function(e) 
                                  {
        if (this.id == 'gruppe1') {
            $('.layergruppe1').show();
            $('.layergruppe2').hide();
        } else if (this.id == 'gruppe2') {
            $('.layergruppe1').hide();
            $('.layergruppe2').show();
        }  
      });
});
</script>

</section>

<aside>
  <p>Enter the Products (SKUs) that you supply or need with the following details:</p>
  <ul><li>SKU Name - the name of your product</li>
    <li>Classification - this will be useful for future barcoding</li>
    <li>Needs - Specify if your company supplies or needs this SKU</li>
    <li>Description - a short description for the benefit of the buyers</li>
    <li>Unit of Measure - an industry standard measure for your SKU. Most commodities are measures in kilograms. Others have specific units. For example, paper is measured in reams or rolls, corn in bushels, and hay in bales. Finished products are usually measured simply in units or pieces, such as a unit of car or a piece of cake. </li>
</aside>