<link rel="stylesheet" href="/css/table.css" />
<script src="/js/ibox.js"></script>
<script src="/js/ibox.extras.js"></script>

<br><br>
<section id="left">

<div>
<div style="width: 50%; float: left">
  <div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	   SKUs in NARA
  </div>
  <div style="clear: both"></div> 
  <br>

  <div class="CSSTableGenerator" >
      <table >
        <thead>
            <td>SKU Name</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Supplied By</td>
        </thead>

      <% @skus.each do |sku| %>
        <tr>
            <td><a href="/skus/<%= sku.id %>"><%=h sku.name %></a></td>
            <td><%=h sku.description %></td>
            <td><%=h sku.quantity %></td>
            <td><a href="/users/<%=h sku.user.id %>"><%=h sku.user.name %></a></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>

<div style="width: 45%; float: right; border-left: 1px solid gray;" >
  <div style="float: left; width: 100%; font-size:2em; font-weight:bold">
    &nbsp; My SKUs
      <div style="float: right; font-size:1em; font-weight:normal">
        <a href="/skus/create">+ New SKU</a>
      </div>
  </div>
  <div style="clear: both"></div> 
  <br>

  <div class="CSSTableGenerator" >
      <table >
        <thead>
            <td>SKU Name</td>
            <td>Description</td>
            <td>Quantity</td>
        </thead>
      <% @myskus.each do |sku| %>
        <tr>
            <td><a href="/skus/<%= sku.id %>"><%=h sku.name %></a></td>
            <td><%=h sku.description %></td>
            <td><%=h sku.quantity %></td>
        </tr>
        <% end %>
      </table>
      <br><br>
  </div>
</div>
</div>

</section>

<aside>

<h1> Newsfeed here</h1>

</section>
</aside>