<link rel="stylesheet" href="/css/table.css" />
<script src="/js/ibox.js"></script>
<script src="/js/ibox.extras.js"></script>

<br><br>
<section id="left">

<div>
<div style="width: 50%; float: left">
  <div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	   SKUs in NARA
  </div>
  <div style="clear: both"></div> 
  <br>

  <div class="CSSTableGenerator" >
      <table >
        <thead>
            <td>SKU Name</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Supplied By</td>
        </thead>

      <% @skus.each do |sku| %>
        <tr>
            <td><a href="/skus/<%= sku.id %>"><%=h sku.name %></a></td>
            <td><%=h sku.description %></td>
            <td><%=h sku.quantity %></td>
            <td><a href="/users/<%=h sku.user.id %>"><%=h sku.user.name %></a></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>

<div style="width: 45%; float: right; border-left: 1px solid gray;" >
  <div style="float: left; width: 100%; font-size:2em; font-weight:bold">
    &nbsp; My SKUs
      <div style="float: right; font-size:1em; font-weight:normal">
        <a href="/skus/create">+ New SKU</a>
      </div>
  </div>
  <div style="clear: both"></div> 
  <br>

  <div class="CSSTableGenerator" >
      <table >
        <thead>
            <td>SKU Name</td>
            <td>Description</td>
            <td>Quantity</td>
        </thead>
      <% @myskus.each do |sku| %>
        <tr>
            <td><a href="/skus/<%= sku.id %>"><%=h sku.name %></a></td>
            <td><%=h sku.description %></td>
            <td><%=h sku.quantity %></td>
        </tr>
        <% end %>
      </table>
      <br><br>
  </div>
</div>
</div>

</section>

<aside>
  <p> The Products (SKUs) produced by companies using NARA are listed here.</p>
  <p> You can browse this list to find the your company needs.</p>
  <hr>
  <p><b>Sample Newsfeed:</b></p>

      <div class="avatarheader">
      <div class="avatar"><img src="http://upload.wikimedia.org/wikipedia/it/thumb/5/57/300px-KFC_logo_svg.png/100px-300px-KFC_logo_svg.png" height="42" width="42">
      </div>
        <a href="#"><b>KFC: New SKU: Double Down Dog</b></a><br>
        <small>1 hour ago</small><br><br>
        <img src="https://cdn1.vox-cdn.com/thumbor/lFRsIqMLiIIeiviXzFHI0Lj6X-Y=/63x0:617x416/400x300/cdn0.vox-cdn.com/uploads/chorus_image/image/45550936/double-dog-dog-kfc-wth.0.0.jpg" width="100%">
  
      <small><a href="#">Promote</a> - <a href="#">Comment</a> - <a href="#">Share</a></small>
    </div>
  <br>

    <div class="avatarheader">
      <div class="avatar"><img src="http://food-processing-equipment.ready-online.com/images/logo_jollibee.gif" height="42" width="42">
      </div>
        <a href="#"><b>Jollibee: </a><a href="#">SKU Withdrawn</b></a><br>
        <small>2 hours ago</small><br><br>
      We have temporarily withdrawn our Chickenjoy pending the restart of our IT system. <small><a href="#">see more</a></small>
      <br>
      <small><a href="#">Promote</a> - <a href="#">Comment</a> - <a href="#">Share</a></small>
    </div><br>

</section>
</aside>