<link rel="stylesheet" href="/css/table.css" />
<br><br>
<section id="left">
	<div style="padding-left: 10px; float: left; width: 100%; font-size:2em; font-weight:bold">
	<%=h @sku.name %>
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="/skus/create">+ Add More SKUs</a>
    	</div>
	</div>
<div style="clear: both"></div> 
<br>

<div class="CSSTableGenerator" >
    <table >
        <thead>
            <td></td>
            <td></td>
        </thead>

        <tr>
            <td>Classification:</td>
            <td><%=h @sku.classification %></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%=h @sku.description %></td>
        </tr>
        <tr>
            
        <td><a href="/users/<%= @sku.user.id %>"><%=h @sku.user.name %></a> is its</td> 
            <td><%=h @sku.need %></td>
        </tr>
        <tr>
            <td>Unit of measure:</td>
            <td><%=h @sku.measure %></td>
        </tr>
        <tr>
            <% if @sku.need == "needer" %>
              <td>Quantity needed on average:</td>
            <% else %>
              <td>Quantity in stock:</td>
            <% end %>
              <td><%=h @sku.quantity %></td>
        </tr>
        
    </table>
</div>
<br>
  
  <% if current_user.id == @sku.user_id %>
    <div style="float: right; font-size:2em; font-weight:normal">
        <a href="/skus/<%= @sku.id %>/edit">Edit SKU</a> &nbsp;  &nbsp;
        <a href="/skus/<%= @sku.id %>/del">Delete SKU</a>
    </div> 
  <% else %>
  <div style="float: left; font-size:2em; font-weight:normal">
        <p><a href="/trades/create">Trade for this!</a></p>
    </div>
  <% end %>
</section>

<aside>
  <section id="feed" role="complementary">
  <p>This page shows the details of each SKU. If you need this product, click <i>Trade this!</i> to go to the Trade screen, if you have an account.</p><br>
  <p>Sample Gallery:</p><br>
    
  <img src="http://i.mctimg.com/file/cee64d99ff852132885b99798e41f6979f25f117/r256x256/0b9b8951ef42eeff6ca2f364c02b5c1c28af25bdfe3ee4fb4eabc959c6a540cf" width="48%">
  <img src="http://i.mctimg.com/file/cee64d99ff852132885b99798e41f6979f25f117/r256x256/0b9b8951ef42eeff6ca2f364c02b5c1c28af25bdfe3ee4fb4eabc959c6a540cf" width="48%">
    <img src="http://www.forresterschicken.co.uk/wp-content/uploads/2012/07/steam-cooked-chicken-leg-portions.jpg" width="48%">
  <img src="http://www.forresterschicken.co.uk/wp-content/uploads/2012/07/steam-cooked-chicken-leg-portions.jpg" width="48%">
  <img src="http://osx.wdfiles.com/local--files/icon:safari-cookies/Safari-Cookies.png" width="48%">
  <img src="http://osx.wdfiles.com/local--files/icon:safari-cookies/Safari-Cookies.png" width="48%">
  <br>

</section>
</aside>