<link rel="stylesheet" href="/css/table.css" />
<script src="/js/ibox.js"></script>
<script src="/js/ibox.extras.js"></script>

<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Registered Companies
		<!-- <div style="float: right; font-size:1em; font-weight:normal">
    		 <a href="#">+ New company</a> 
    	</div> -->
	</div>
<div style="clear: both"></div> 
<br>

<div class="CSSTableGenerator" >
    <table >
        <thead>
            <td>Company Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Business Description</td>
        </thead>

<% @users.each do |user| %>
        <tr>
            <td><a href="/users/<%= user.id %>"><%=h user.name %></a></td>
            <td><%=h user.address %></td>
            <td><%=h user.phone %></td>
            <td><%=h user.email %></td>
            <td><%=h user.description %></td>
         </tr>
        </tr>
        <% end %>
    </table>
</div>
</section>

<aside>
  <section id="feed" role="complementary"><br>
    <h1> Newsfeed here</h1>
  </section>
</aside>

