<link rel="stylesheet" href="/css/table.css" />
<script src="/js/ibox.js"></script>
<script src="/js/ibox.extras.js"></script>

<style type="text/css">
.floater {
  font-size: 15px;
  margin: 0 10 0 10;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  /*line-height: 1.5em; */
  background: #fff;
  opacity: 1; /* was 0.8 */
  overflow: auto;
}
</style>

<br><br>
<section id="left">
	<div style="float: left; width: 100%; font-size:2em; font-weight:bold">
	Services
		<div style="float: right; font-size:1em; font-weight:normal">
    		<a href="/services/create">+ New service</a>
    	</div>
	</div>
<div style="clear: both"></div> 
<br>
<div class="floater">
This page shows all the artists, musicians, writers, painters, lawyers, doctors, teachers, etc. categorized as <b><a href="http://www.econlib.org/library/Smith/smWN8.html" target="_blank">unproductive labour</a></b> or service work. NARA maintains certain services by providing commodities for service workers depending on the number of likes they have. In this way, those that benefit society will be supported without fnancial pressures or the need to profiteer or turn to corruption. This feature is not yet functional.
</div>
<br>

<div class="CSSTableGenerator" >
    <table >
        <thead>
            <td>Service Name</td>
            <td>Service Classification</td>
            <td>Company or Organization</td>
            <td>Description</td>
            <td>Quantity</td>
        </thead>

<% @services.each do |service| %>
        <tr>
            <td><a href="/services/<%= service.id %>"><%=h service.name %></a></td>
            <td><%=h service.classification %></td>
            <td><%=h service.user.name %></td>
            <td><%=h service.description %></td>            
            <td><%=h service.quantity %></td>
        </tr>
        <% end %>
    </table>
</div>
</section>

<aside>
  <section id="feed" role="complementary">
    <p>Sample News Feed:</p>
  <div class="avatararea">
    <div class="avatarheader">
      <div class="avatar"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p50x50/10599440_716916005023359_2372901659571595457_n.png?oh=227a173a556b6c90de221edc42638205&oe=55BD88CF&__gda__=1435542431_0abdc0a84433f2a6ef33fc2f66393fe4" height="42" width="42">
      </div>
        <a href="#"><b>Lindsey Stirling: Live performance: Manila</b></a><br>
        <small>1 hour ago</small><br><br>
        <a href="https://www.smtickets.com/event/details?event_id=2888" target="_blank">
        <img src="http://1.bp.blogspot.com/-k0SDemlh_FE/VIj-_bCw9CI/AAAAAAAAAjM/2Y3xx9DTjkw/s1600/multiple_bg.jpg" width="100%">
        </a>
    </div>
      <small><a href="#">Promote</a> - <a href="#">Comment</a> - <a href="#">Share</a></small>
  </div>
  <br><br>

  <div class="avatararea">
    <div class="avatarheader">
      <div class="avatar"><img src="http://photos.geni.com/p6/2175/1519/53444836c48bea6d/al_gore_250px_t2.jpg" height="42" width="42">
      </div>
        <a href="#"><b>Al Gore: </a><a href="#">New Book</b></a><br>
        <small>2 hours ago</small>
    </div><br>
        <a href="http://www.amazon.com/Inconvenient-Truth-Crisis-Global-Warming/dp/0670062723"><img src="http://www.huffingtonpost.com/eat-the-press/An%20Inconvenient%20Truth%20for%20Kidz-thumb.JPG" target="_blank" width="100%"></a>
      <br>
      <small><a href="#">Promote</a> - <a href="#">Comment</a> - <a href="#">Share</a></small>
  </div>
  <br><br>    

  <div class="avatararea">
    <div class="avatarheader">
      <div class="avatar"><img src="https://pbs.twimg.com/profile_images/809001796/rajani_normal.jpg" height="42" width="42">
      </div>
        <a href="#"><b>Dr. Rajan Shankaran: </a><a href="#">New Video</b></a><br>
        <small>3 hours ago</small>
    </div><br>
        <iframe width="100%" src="https://www.youtube.com/embed/AhpdgOgUva0" frameborder="0" allowfullscreen></iframe>
      <br>
      <small><a href="#">Promote</a> - <a href="#">Comment</a> - <a href="#">Share</a></small>
  </div>
  <br><br>  

</section>
</aside>